@font-face {
	font-family: Fedra sans pro;
    src: url(Fedra-Sans-Pro.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fedra sans pro", sans-serif;
}

header {
	padding: 15px;
	vertical-align: middle;
	text-align: left;
}

header img {
	height: 50px;
}

.user-wrapper {
	float: right;
	width: 50%;
}

.user {
	border-radius: 50px;
	display: inline-block;
	float: right;
	margin-left: 10px;
}

.user-wrapper p {
	text-align: right;
}

.container {
	padding: 15px;
}

.card {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 12px;
	border-radius: 20px;
	opacity: 0.90;
	margin-bottom: 50vh;
}

.overlay {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heart {
	font-size: 80px;
	height: 80px;
	display: block;
	line-height: 68px;
}

.lovers-top {
	margin-bottom: 0;
}

.lovers-bottom {
	margin-top: 0;
}

.green-text {
	color: #007272;
}

.white-text {
	color: white;
}

.green {
	background-color: #007c85;
}

.white {
	background-color: white;
}

.rsc-navigation {
	background-image: url("./right-chevron.svg") !important;
}


/*Circles*/
.circles {
	padding-bottom: 40px;
}

.circle-wrapper {
	padding-top: 40px;
}

.circle {
	border: solid 4px #007c85;
	border-radius: 100px;
	height: 100px;
	width: 100px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

/*Circles*/
.circle .value {
	font-size: 55px;
}

.circle .unit {
	position: absolute;
	top: 65px;
	left: 0;
	width: 100%;
	font-weight: bold;
	text-align: center;
}

.circle .unit .raised {
	font-size: 0.7em;
	position: absolute;
}

button {
	padding: 20px;
	width: 80%;
	font-family: inherit;
	border: none;
	margin: 50px 0 50px 0;
	font-size: 1.2em;
	background-color: #f06d00;
	color: white;
}